body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif, 'Helvetica Neue'; 
    font-size: 18px;
    color: #333;
    background-image: url("../images/honeycomb.png");
    
}

.mainHeader{
    background: #ffffff;
    font-family: Georgia, "Times New Roman", Times, serif;
    height: 60px;
    margin: 0 auto;
}

header {
    padding: 15.5px;
    width: 17%;
    background-color:#4aaaa5;
    text-align: center;
    color: #ffffff;
    font-size: 25px;
    float: left;
    margin: 0 0 0 245px;
}

ul{
	list-style-type: none;
    width: 18%;
    margin: 0 245px 0 0;
    padding: 20px;
    float:right;
}

li {
	margin-left: 15px;
    float: left; 
}

a {
	color: #777777;
	text-decoration: none;
}

.mainContent{
    clear: both;
    width: 895px;
    margin: 25px auto;
    padding: 25px;
    background-color: white;
    border-color: #cccccc;
    border-style: solid;
    color: #777777;
}

h2{
    padding: 0 0 17px 5px;
    margin: 0 0 30px 0;
	border-bottom-style: solid;
	color: #4aaaa5;
    border-color: #777777;
    font-family: 'Times New Roman', Times, serif;
}

#imgBio {
	width: 20%;
    margin: 0 20px 0px 5px;
    float: left;
}

p {
	line-height: 30px;
}

footer {
	position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 40px 0 5px 0;
    margin: 0;
    border-top: solid;
    border-color: #4aaaa5;
    border-width: 10px;
    background-color: #666666;
    color: #ffffff;
    font-size: 10px;
    text-align: center;
}

input,
textarea {
	width: 100%;
	padding: 10px 20px 10px 10px;
    margin: 8px 0;
    border-color: #dddddd;
    border-style: solid;
    border-width: thin;
}

.vertical{
	border-right: 1px solid #dddddd;
	padding-right: 5px;
}

.mainContent img {
	width: 250px;
	height: 200px;
    margin-left: 50px;
    margin-bottom: 50px;
}

input[type=text], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
}

#message {
    height:200px;
}
/*@media screens*/

@media screen and (max-width: 980px) {
    .mainContent {
      width: 100%;
      float:left;
      max-width: 700px;
      padding: 30px;
      margin: 0 0 40px;
      background: #ffffff;
      border: 1px solid #dddddd;
    }
  }

  @media screen and (max-width: 768px) {
    .mainHeader {
      width: 100%;
      position: fixed;
      z-index: 99;
      overflow: auto;
      color: #ffffff;
      background: #ffffff;
      border-bottom: 2px solid #cccccc;
    }
    nav {
        margin-top: 25px;
        text-align: right;
        padding-right: 25px;

    }
    .mainContent {
        float: left;
        width: 100%;
        max-width: 650px;
        padding: 30px;
        margin: 0 0 40px;
        background: #ffffff;
        border: 1px solid #dddddd;
    }
  }
 
  @media screen and (max-width: 640px) {
    .mainHeader {
      width: 100%;
    }
    nav {
        margin-top: 0px;
        text-align: right;
        padding-right: 170px;
    }
    .mainContent {
        max-width: 400px;
    }
    
  }